#careful with so many etc files!
/*
!.gitignore
conf.d/
!pacman.d/
/pacman.d/*
!pacman.d/mirrorlist
!conf.d/jellyfin
!fish/
!gtk-2.0/
!gtk-3.0/
!keyd/
!modprobe.d/
!my.cnd.d/
!nginx/
!kanata/
!php/
!php73/
!udev/
udev/rules.d/80-dotool.rules
!webapps/phpmyadmin/
